:root {
    --background-color: #f4f4f4;
    --primary-color: #00376e;;
    --secondary-color: #f2f2f2;
    --text-color: #333;
    --border-color: #ddd;
    --header-footer-bg-color: lightblue;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 20px;
}

#saveButton {
    padding: 5px 10px;
    margin-top: 10px;
    background-color: #00376e;;
    color: white;
    border: none;
    border-radius: 5px;
}

#saveButton:hover {
    background-color: #6f5c0a;
}

header, .time-tracking, table, footer {
    background: var(--header-footer-bg-color);
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

header h1 {
    text-align: center;
}

.time-tracking {
    display: flex;
    justify-content: space-between;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid var(--border-color);
}

th {
    background-color: var(--primary-color);
    color: white;
    text-align: left;
    padding: 12px;
}

td {
    padding: 8px;
}

tr:nth-child(even) {
    background-color: var(--secondary-color);
}

@media screen and (max-width: 600px) {
    .time-tracking {
        flex-direction: column;
        align-items: center;
    }
}

#loginForm {
    width: 100%;
    max-width: 300px;
    padding: 40px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: var(--header-footer-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;    
}

#loginForm button {
    width: 70%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;  
}

#loginForm button:hover {
    background-color: #0056b3;
  }